<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">MY CV</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a ui-sref="app.info">Personal information</a></li>
        <li><a ui-sref="app.education">Education</a></li>
        <li><a ui-sref="app.work">Work experience</a></li>
        <li><a ui-sref="app.personalskills">Personal skills</a></li>
        <li><a ui-sref="app.languages">Languages</a></li>

    </ul>
</nav>