<h2 class="bg-info">Education</h2>
<div ng-repeat="edu in eduInfo track by $index">
    <div class="row">
        <div class="col-md-6">Institution:</div>
        <div class="col-md-6">{{edu.Institution}}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Degree:</div>
        <div class="col-md-6">{{edu.Degree}}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Start date:</div>
        <div class="col-md-6">{{edu.Startdate}}</div>
    </div>
    <div class="row">
        <div class="col-md-6">End date:</div>
        <div class="col-md-6">{{edu.EndDate}}</div>
    </div>
    <hr />
</div>