<h2 class="bg-info">Personal skills</h2>
<div class="row">
    <div class="col-md-6">Managerial skills:</div>
    <div class="col-md-6">{{skillsInfo.ManagerialSkills}}</div>
</div>
<div class="row">
    <div class="col-md-6">Communication skills:</div>
    <div class="col-md-6">{{skillsInfo.CommunicationSkills}}</div>
</div>
<div class="row">
    <div class="col-md-6">Job related skills:</div>
    <div class="col-md-6">{{skillsInfo.JobRelatedSkills}}</div>
</div>
<div class="row">
    <div class="col-md-6">Digital competences:</div>
    <div class="col-md-6">{{skillsInfo.DigitalCompetences}}</div>
</div>