<h2 class="bg-info">Work experience</h2>
<div ng-repeat="wrkexp in workInfo track by $index">
    <div class="row">
        <div class="col-md-6">Company:</div>
        <div class="col-md-6" ng-click="isCompanyClicked=!isCompanyClicked">{{wrkexp.Company}}</div>
        <div class="row">
            <div class="col-md-6"></div>
           <div class="col-md-6" ng-if="isCompanyClicked">
               <strong>{{wrkexp.Info}}</strong>
           </div>
        </div>

        </div>
    <div class="row">
        <div class="col-md-6">Position:</div>
        <div class="col-md-6">{{wrkexp.Position}}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Start date:</div>
        <div class="col-md-6">{{wrkexp.Startdate}}</div>
    </div>
    <div class="row">
        <div class="col-md-6">End date:</div>
        <div class="col-md-6">{{wrkexp.EndDate}}</div>
    </div>
    <hr />
</div>